@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

.wonjyou-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #edf1e8;
  color: #101010;
  font-family: "PP Neue Montreal", sans-serif;
  will-change: background-color;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -0.075rem;
    line-height: 1.125;
  }

  h3 {
    font-size: 2.25rem;
    font-weight: 500;
    letter-spacing: -0.025rem;
    line-height: 1.125;
  }
}

.wonjyou-hero,
.wonjyou-outro {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  align-content: center;
  text-align: center;

  h1 {
    width: 75%;
    margin: 0 auto;
  }
}

.wonjyou-outro {
  background-color: #101010;
  color: #edf1e8;
}

.wonjyou-marquee {
  position: relative;
  width: 100%;
  height: 50svh;
  overflow: hidden;
}

.wonjyou-marquee-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  width: 150%;
  height: 100%;
}

.wonjyou-marquee-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  will-change: transform;
}

.wonjyou-marquee-img {
  flex: 1;
  width: 100%;
  aspect-ratio: 5 / 3;
}

.wonjyou-horizontal-scroll {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
}

.wonjyou-horizontal-scroll-wrapper {
  position: relative;
  width: 300%;
  height: 100svh;
  display: flex;
  will-change: transform;
}

.wonjyou-horizontal-slide {
  flex: 1;
  height: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;

  &:not(.wonjyou-horizontal-spacer) {
    background-color: #101010;
    color: #edf1e8;
  }

  .wonjyou-col:nth-child(1) {
    flex: 3;
  }

  .wonjyou-col:nth-child(2) {
    flex: 2;
  }

  .wonjyou-col h3,
  .wonjyou-col img {
    width: 75%;
  }

  .wonjyou-col img {
    height: 75%;
  }
}

.wonjyou-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .wonjyou-container {
    h1 {
      font-size: 2.25rem;
      letter-spacing: -0.05rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  .wonjyou-hero h1,
  .wonjyou-outro h1 {
    width: 100%;
  }

  .wonjyou-marquee-wrapper {
    width: 300%;
  }

  .wonjyou-horizontal-slide {
    padding: 4rem;
    flex-direction: column-reverse;
    gap: 2rem;

    .wonjyou-col:nth-child(1) {
      align-items: flex-start;
    }

    .wonjyou-col h3 {
      width: 100%;
    }

    .wonjyou-col img {
      width: 100%;
      height: 100%;
    }
  }
}
