section {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  overflow: hidden;
}

.intro,
.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project-index h1,
.project-images,
.project-names p {
  will-change: transform;
}

.project-images {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  padding: 50svh 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: -1;
}

.project-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  opacity: 0.5;
  transition: all 0.3s ease;
  overflow: hidden;
}

.project-names {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  p {
    color: #4a4a4a;
    transition: color 0.3s ease;
  }
}

@media (max-width: 1000px) {
  .project-images {
    width: calc(100% - 4rem);
    gap: 25svh;
  }

  .project-names p {
    color: #fff !important;
  }
}
