@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Righteous&display=swap");

.landonorris-nav {
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 2;
  font-family: "DM Mono", monospace;
  color: #000;

  a,
  p {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 0.9;
    display: block;
  }
}

.landonorris-site-name a {
  width: 4rem;
  font-family: "Righteous", sans-serif;
  font-size: 2rem;
}

.landonorris-menu p {
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
  background-color: #000;
  color: #fff;
}

.landonorris-hero {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background-color: #fff;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.landonorris-hero-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
  font-family: "DM Mono", monospace;
  color: #000;

  p {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 0.9;
    display: block;
  }
}
