.gar-page {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #fff;
  cursor: crosshair;

  .gar-gallery {
    position: relative;
    height: 75vmax;
    width: 95vmax;
    will-change: transform;
  }

  .gar-block {
    position: absolute;
    width: 150px;
    height: 200px;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    will-change: transform;
  }

  .gar-block:hover {
    z-index: 2;
  }
}
