@import url("https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.jam-page {
  --jam-dark: #1e1e1e;
  --jam-light: #fefff8;
  --jam-accent: #fca311;

  font-family: "DM Sans", sans-serif;
  background-color: #000;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    text-transform: uppercase;
    font-family: "Anton";
    font-size: 10rem;
    font-weight: 500;
    letter-spacing: -0.1rem;
    line-height: 0.9;
  }

  p,
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1;
    user-select: none;
  }

  .jam-container {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform, opacity;
    z-index: 0;
  }

  section {
    position: relative;
    width: 100vw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--jam-light);
    color: var(--jam-dark);
    padding: 2rem;
  }

  .jam-hero h1 {
    width: 70%;
  }

  .jam-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 1rem;
    color: var(--jam-light);
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    z-index: 2;
  }

  .jam-nav p {
    padding: 1rem;
    cursor: pointer;
  }

  .jam-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
    background-color: var(--jam-dark);
    color: var(--jam-light);
    z-index: 1;
    will-change: clip-path;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }

  .jam-menu-content {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    will-change: transform, opacity;
  }

  .jam-menu-col:nth-child(2) {
    text-align: right;
  }

  .jam-menu-img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    will-change: transform, opacity;
  }

  .jam-menu-links-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: max-content;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    will-change: transform;
  }

  .jam-menu-link {
    position: relative;
    will-change: transform;
    overflow: hidden;
  }

  .jam-menu-link a {
    position: relative;
    color: var(--jam-light);
    font-family: "Anton";
    font-size: 10rem;
    font-weight: 500;
    letter-spacing: -0.2rem;
    display: inline-block;
    overflow: hidden;
  }

  .jam-menu-link a span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
  }

  .jam-link-highlighter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 0.75rem;
    background-color: var(--jam-accent);
    will-change: transform, width;
  }

  .jam-char {
    position: relative;
    display: inline-block;
    will-change: transform;
  }

  @media (max-width: 1000px) {
    .jam-hero h1 {
      width: 100%;
      font-size: 4rem;
    }

    .jam-menu-content {
      top: 25%;
    }

    .jam-menu-img,
    .jam-link-highlighter {
      display: none;
    }

    .jam-menu-links-wrapper {
      flex-direction: column;
      gap: 0;
    }

    .jam-menu-link a {
      font-size: 4rem;
      letter-spacing: -0.05rem;
    }
  }
}
