@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap");

.naked-page {
  --base-100: #f9f4eb;
  --base-200: #141414;

  color: var(--base-200);

  #smooth-wrapper {
    z-index: 2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-size: clamp(3rem, 5vw, 7rem);
    font-weight: 900;
    line-height: 0.8;
  }

  a {
    text-decoration: none;
    color: var(--base-200);
    font-family: "Host Grotesk";
    font-size: 1.125rem;
    font-weight: 450;
    line-height: 0.9;
  }

  .navbar-backdrop,
  .navbar-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    pointer-events: none;
    overflow: hidden;
  }

  .navbar-backdrop {
    background-color: var(--base-100);
    z-index: 1;
  }

  .navbar-background,
  .navbar-items {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    min-width: 720px;
    aspect-ratio: 16/9;
    will-change: width, height;
  }

  .navbar-background {
    background-color: var(--base-100);
    pointer-events: none;
    z-index: 0;
  }

  .navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 3;
  }

  .navbar-logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 2.5rem;
    pointer-events: all;
    z-index: 2;
  }

  .navbar-logo.navbar-logo-pinned {
    bottom: unset;
    top: -0.25rem;
  }

  .navbar-logo img {
    object-fit: contain;
  }

  .navbar-links {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  .navbar-links:nth-child(1) {
    padding: 2.5rem 5rem 0 2.5rem;
  }

  .navbar-links:nth-child(2) {
    padding: 2.5rem 2.5rem 0 5rem;
  }

  section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
  }

  .scroll-spacer {
    width: 100%;
    height: 200svh;
    pointer-events: none;
  }

  .hero {
    padding: 2.5rem 0;
  }

  .about {
    height: 100svh;
  }

  .hero h1,
  .about h1 {
    width: 50%;
  }

  @media (max-width: 720px) {
    .navbar-background,
    .navbar-items {
      min-width: 100%;
    }

    .navbar-items,
    .navbar-links {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      gap: 0.5rem;
    }

    .navbar-items {
      padding: 2rem;
    }

    .navbar-links:nth-child(1),
    .navbar-links:nth-child(2) {
      padding: 0;
    }

    .navbar-logo,
    .navbar-logo.navbar-logo-pinned {
      left: 0;
      transform: translateX(0);
    }

    .scroll-spacer {
      display: none;
    }

    .hero {
      height: 100svh;
    }

    .hero h1,
    .about h1 {
      padding: 2.5em;
      width: 100%;
    }
  }
}
