.kpv-page {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  font-family: "Akkurat Mono", "DM Mono", monospace;
  background: #fff;
  color: #000;

  a,
  p,
  span {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 100%;
    cursor: pointer;
  }

  .kpv-nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    z-index: 2;
  }

  .kpv-container {
    width: 100%;
    height: 100%;
  }

  .kpv-menu-container {
    position: fixed;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    padding: 1.5em;
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: left 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .kpv-menu {
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
  }

  .kpv-menu-main {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid rgba(255, 255, 255, 0.125);
  }

  .kpv-menu-sidebar {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .kpv-menu-main .kpv-menu-top {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.125);
  }

  .kpv-menu-main .kpv-menu-bottom {
    display: flex;
    flex-direction: column;
  }

  .kpv-menu-top-title {
    flex: 1;
    padding: 2em;
  }

  .kpv-menu-top-content {
    padding: 1.25em 0;
    flex: 4;
    display: flex;
    flex-direction: column;
  }

  .kpv-menu-item {
    position: relative;
    left: -100px;
    padding: 0.5em 0;
    transition: left 0.3s;
  }

  .kpv-menu-item-link {
    position: relative;
  }

  .kpv-menu-item-link a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 48px;
    font-family: "ABC Whyte Inktrap Unlicensed Trial", "Anton", sans-serif;
    letter-spacing: -2px;
    font-weight: bold;
    padding-left: 10px;
    z-index: 2;
  }

  .kpv-menu-item.kpv-active .kpv-menu-item-link a {
    color: #000;
  }

  .kpv-menu-item:hover .kpv-menu-item-link a {
    color: #000;
  }

  .kpv-bg-hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0% 50%);
    z-index: 0;
    opacity: 0;
  }

  .kpv-menu-item:hover .kpv-bg-hover {
    opacity: 1;
  }

  .kpv-menu-item.kpv-active .kpv-bg-hover {
    background-color: aquamarine;
    opacity: 1;
  }

  .kpv-menu-item span {
    position: absolute;
    top: 0px;
    padding: 1.5em 0;
  }

  .kpv-menu-item span .word .char {
    color: #000;
  }

  .kpv-menu-item.kpv-active span .word .char {
    color: #fff;
  }

  .kpv-menu-item:hover span .word .char.char-active {
    color: #fff;
  }

  .kpv-menu-item span .word .char.char-active {
    color: #000;
  }

  .kpv-menu-sub-item {
    width: 100%;
    display: flex;
    gap: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.125);
    padding: 1em 2em;
  }

  .kpv-menu-title {
    flex: 1;
  }

  .kpv-menu-content {
    flex: 4;
    padding-left: 2em;
  }

  .kpv-menu-content p {
    position: relative;
    width: max-content;
    padding: 0.125em;
  }

  .kpv-menu-content p::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    mix-blend-mode: difference;
  }

  @keyframes kpvHoverEffect {
    0%,
    100% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    51% {
      left: auto;
      right: 0;
      width: 100%;
    }
    100% {
      left: auto;
      right: 0;
      width: 0%;
    }
  }

  .kpv-menu-content p:hover::after {
    animation: kpvHoverEffect 1s ease forwards;
  }

  .kpv-close-btn,
  .kpv-logo {
    padding: 1.5em;
    display: flex;
  }

  .kpv-close-btn {
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
    cursor: pointer;
  }

  @media (max-width: 900px) {
    .kpv-menu-container {
      width: 100%;
    }

    .kpv-menu-top-content {
      padding: 1.5em;
    }

    .kpv-menu-top-title,
    .kpv-menu-item span,
    .kpv-menu-title,
    .kpv-bg-hover {
      display: none;
    }

    .kpv-menu-item:hover .kpv-menu-item-link a,
    .kpv-menu-item.kpv-active .kpv-menu-item-link a {
      color: #fff;
    }

    .kpv-menu-sub-item {
      padding: 1em 0;
    }
  }
}
