@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap");

.ap-page {
  --ap-base-100: #fff;
  --ap-base-200: #474437;
  --ap-base-300: #403d31;

  font-family: "Instrument Sans", sans-serif;

  a,
  p {
    text-decoration: none;
    color: var(--ap-base-100);
    font-weight: 450;
    line-height: 1;
  }

  .ap-hero {
    position: relative;
    width: 100%;
    height: 100svh;
    background: url(/images/audemarspiguet-menu/hero.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .ap-hero h1 {
    width: 50%;
    text-align: center;
    color: var(--ap-base-100);
    font-family: "Instrument Serif", sans-serif;
    font-size: clamp(3rem, 10vw, 12rem);
    font-weight: 500;
    line-height: 0.75;
  }

  .ap-nav {
    position: fixed;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    z-index: 2;
  }

  .ap-nav > div {
    flex: 1;
  }

  .ap-nav-logo {
    display: flex;
    justify-content: center;
  }

  .ap-nav-logo a {
    width: 8rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .ap-nav-cta {
    display: flex;
    justify-content: flex-end;
  }

  .ap-nav-cta a {
    font-family: "Instrument Serif", sans-serif;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5rem;
  }

  .ap-nav-toggle-btn {
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 10rem;
    cursor: pointer;
    background: none;
  }

  .ap-nav-toggle-btn span {
    width: 100%;
    height: 1.25px;
    background: var(--ap-base-100);
    will-change: transform;
  }

  .ap-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
  }

  .ap-menu.active {
    pointer-events: all;
  }

  .ap-menu-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .ap-menu-bg-left,
  .ap-menu-bg-right {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  .ap-menu-bg-left {
    left: 0;
  }

  .ap-menu-bg-right {
    right: 0;
  }

  .ap-menu-bg-left-inner,
  .ap-menu-bg-right-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    will-change: transform;
  }

  .ap-menu-bg-left-inner {
    background-color: var(--ap-base-200);
    transform-origin: 100% 50%;
    transform: rotate(180deg) scale(2, 2);
  }

  .ap-menu-bg-right-inner {
    background-color: var(--ap-base-300);
    transform-origin: 0% 50%;
    transform: rotate(-180deg) scale(2, 2);
  }

  .ap-menu-items {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .ap-menu-items-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .ap-menu-items-col:nth-child(1) a {
    text-transform: uppercase;
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    line-height: 1.1;
  }

  .ap-menu-items-col:nth-child(2) a {
    font-family: "Instrument Serif", sans-serif;
    font-size: clamp(1.65rem, 2.75vw, 3rem);
    line-height: 1.2;
  }

  .ap-menu-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .ap-menu-footer-col {
    display: flex;
    gap: 2rem;
  }

  .ap-menu-footer a,
  .ap-menu-footer p {
    text-transform: uppercase;
    font-size: 0.75rem;
  }

  .ap-menu a .line,
  .ap-menu p .line {
    position: relative;
    transform: translateY(110%);
    will-change: transform;
  }

  @media (max-width: 1000px) {
    .ap-nav {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .ap-nav-toggle {
      display: flex;
      justify-content: flex-end;
    }

    .ap-nav-logo {
      justify-content: flex-start;
    }

    .ap-nav-logo a {
      text-align: left;
    }

    .ap-nav-cta {
      display: none;
    }

    .ap-menu-bg-right {
      display: none;
    }

    .ap-menu-bg-left {
      width: 100%;
    }

    .ap-menu-items {
      padding: 6rem 2rem;
      flex-direction: column-reverse;
      gap: 4rem;
    }

    .ap-menu-items-col {
      align-items: flex-start;
      gap: 0.5rem;
    }

    .ap-menu-items-col:nth-child(1) {
      justify-content: flex-start;
    }

    .ap-menu-items-col:nth-child(2) {
      justify-content: flex-end;
    }

    .ap-menu-footer {
      padding: 2rem 2rem;
      align-items: flex-end;
    }

    .ap-menu-footer-col {
      flex-direction: column;
      gap: 0;
    }
  }
}
